:root {
  font-size: 20px;
}

main {
  display: grid;
  gap: 25px;
}

section {
  display: grid;
  gap: 10px;
  border: 1px solid black;
  padding: 25px;
  width: 50%;
}

.green {
  color: green;
  font-weight: bold;
}

.orange {
  color: orange;
  font-weight: bold;
}

.scroll-container {
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scroll-snap-type: y;
}
