<h1>HTML, CSS & JavaScript News 2024</h1>

<main>
  <section>
    <h2><code>&lt;dialog /&gt;</code></h2>
    <div class="green">Can I use: 95.04%</div>
    <app-dialog />
  </section>

  <section class="scroll-container">
    <h2>Scroll behaviour</h2>
    <div class="green">Can I use: 94.85%</div>

    <a href="#video">Scroll smoothly</a>

    <div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, quod
        voluptatem? Iusto omnis provident non aspernatur eius consequuntur quos,
        incidunt voluptates fugiat expedita a, tempora minima delectus debitis
        quia magni numquam quam quisquam quae? Quia nulla repellendus ad
        voluptatum vero accusamus laborum optio, repudiandae ullam asperiores
        saepe? Labore itaque ab unde eligendi quisquam laborum voluptas, quae
        eos! Ut ducimus ad dicta voluptatem consectetur vitae commodi non, fugit
        impedit molestias perferendis amet tenetur quia obcaecati nihil cum
        aliquam praesentium facere quisquam eaque? Neque quae exercitationem
        expedita vero ex adipisci velit. Quas molestias sunt quasi incidunt
        pariatur dolorum id cum adipisci architecto qui iusto deleniti natus ad
        odio quidem illum ipsa, omnis voluptates voluptate ratione, placeat
        consequatur tenetur! Velit, beatae explicabo sint minus, voluptate
        facere error nostrum magnam est esse numquam veritatis perspiciatis
        fugiat non maiores ipsam molestias, cupiditate aliquam accusamus
        molestiae ut quaerat. Adipisci dolorum qui possimus odit itaque dolorem.
        Quibusdam, deserunt! Enim voluptates dolorem inventore ducimus velit
        eveniet, dolores natus hic qui laboriosam ut suscipit sequi nihil
        voluptate voluptatibus at, tempore corrupti aperiam animi aliquam
        officia eaque blanditiis! Fuga quia iste aliquam explicabo distinctio
        dolorem ratione tempore ea, similique quam vero repellat blanditiis
        quaerat. Quis minima nemo reprehenderit eveniet atque ratione! Quam
        laudantium quos ipsa amet? Ipsam accusantium excepturi obcaecati dolores
        labore, dicta numquam quia suscipit. Autem delectus quis hic. Saepe
        maiores, fugit iure cum tempora eum eos atque totam ab, ea beatae vitae
        deleniti in doloribus qui quos alias consequuntur repellendus expedita!
        Cum perferendis alias minus fuga ab numquam.
      </p>

      <iframe
        id="video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=xrIHqM4zUk1miSIV"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum enim
        ad, quasi ex assumenda, ipsa esse quas mollitia, praesentium laudantium
        accusantium. Provident eligendi quis unde a ipsa dignissimos error iure
        enim illo expedita est, aspernatur et dolores reprehenderit nisi fuga
        vel, maxime, quas pariatur recusandae. Voluptatum quia minus sunt quidem
        expedita est ut, sit accusamus a consequuntur odio nemo repellendus
        sapiente? Fugit pariatur molestiae iste. Voluptas molestiae voluptatum
        quisquam quas porro veritatis laudantium. Inventore quisquam dolor
        officiis saepe porro. Laboriosam fugiat sapiente cupiditate! Praesentium
        illo nesciunt aspernatur optio ea placeat inventore, numquam recusandae
        reiciendis distinctio, ab unde in? Sed, obcaecati?
      </p>
    </div>
  </section>

  <section>
    <h2>Angular template variables <code>&#64;let</code></h2>

    <div>Ab Angular 18.1</div>

    @let user = userData | async;

    <div>
      <div>{{ user?.id }}</div>
      <div>{{ user?.name }}</div>
      <div>{{ user?.lastName }}</div>
      <div>{{ user?.birthDate | date }}</div>
    </div>
  </section>

  <section>
    <h2>Set.prototype.difference</h2>

    <div class="orange">Can I use: 82.19%</div>

    <img
      src="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set/difference/diagram.svg"
    />

    <code>
      const odds = new Set([1, 3, 5, 7, 9]);
      <br />
      const squares = new Set([1, 4, 9]);
      <br />
      console.log(odds.difference(squares)); // Set(3) with 3, 5, 7
    </code>
  </section>

  <section>
    <ul>
      <li>
        <code>A.intersection(B)</code>
        <div class="orange">Can I use 82.19%</div>
        <img
          src="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set/intersection/diagram.svg"
        />
      </li>

      <li>
        <code>A.isDisjointFrom(B)</code>
        <div class="orange">Can I use 82.19%</div>
        <img
          src="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set/intersection/diagram.svg"
        />
      </li>

      <li>
        <code>A.isSubsetOf(B)</code>
        <div class="orange">Can I use 82.19%</div>
        <img
          src="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set/isSubsetOf/diagram.svg"
        />
      </li>
    </ul>

    <ul>
      <li>
        <code>A.isSupersetOf(B)</code>
        <div class="orange">Can I use 82.19%</div>
        <img
          src="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set/isSupersetOf/diagram.svg"
        />
      </li>
    </ul>
  </section>

  <section>
    <img src="baseline.png" alt="Baseline" />
  </section>

  <section>
    <h2>Array.prototype.toSorded</h2>

    <div class="orange">Can I use: 89.27%</div>
    <div class="blue">Baseline: Newly available</div>

    <code>
      const originalArray = [9, 8, 7, 6];
      <br />
      const sortedArray = originalArray.toSorted();
      <br />
      <br />
      console.log(originalArray) // [9, 8, 7, 6]
      <br />
      console.log(sortedArray) // [6,7, 8, 9]
      <br />
      <br />
      const sortedAgain = originalArray.sort();
      <br />
      <br />
      console.log(originalArray) // [6, 7, 8, 9]
      <br />
      console.log(sortedAgain) // [6,7, 8, 9]
    </code>
  </section>

  <section>
    <ul>
      <li>
        <code>Array.prototype.toReversed</code>
        <div class="green">Can I use: 89.27%</div>
        <div class="blue">Baseline: Newly available</div>
      </li>
      <br />
      <li>
        <code>Array.prototype.toSpliced</code>
        <div class="green">Can I use: 89.27%</div>
        <div class="blue">Baseline: Newly available</div>
      </li>
    </ul>
  </section>

  <section>
    <h2>Popover API</h2>

    <div class="orange">Can I use: 74.72% + 11.09% = 85.81%</div>
    <div class="orange">Baseline: Limited availability</div>

    <div>Popover vs Dialog: Popovers are non-modal, Dialogs are modal</div>

    <button popovertarget="my-popover">Open Popover</button>
    <div popover id="my-popover">Greetings, one and all!</div>
  </section>

  <section>
    <h2>CSS Anchor positioning</h2>

    <div class="orange">Can I use: 66.29%</div>
    <div class="orange">Baseline: Limited availability</div>

    <div id="blue-box" class="blue-box"></div>
    <div class="red-box" anchor="blue-box"></div>
  </section>

  <section fullsize>
    <h2>Subgrid</h2>

    <div class="orange">Can I use: 88.54%</div>
    <div class="orange">Baseline: Newly available</div>

    <ul class="card-list">
      <li class="card">
        <img src="dog1-brandon-day.jpg" />
        <h3>Lorem ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit placeat
          architecto eveniet praesentium dolores et sit dolore, excepturi fugiat
          facere.
        </p>
      </li>

      <li class="card">
        <img src="dog2-alan-king.jpg" />
        <h3>Omnis, veritatis odio.</h3>

        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste non
          exercitationem aliquam eum nam repellendus.
        </p>
      </li>

      <li class="card">
        <img src="dog3-alvan-nee.jpg" />
        <h3>Quibusdam, recusandae odio.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
          soluta? Quae obcaecati nulla doloremque, pariatur officia blanditiis!
        </p>
      </li>

      <li class="card">
        <img src="dog4-baptist-standaertsh.jpg" />
        <h3>Exercitationem, libero quam!</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
          beatae? Ipsa nostrum consectetur fugiat, impedit quam libero soluta
          optio quae. Exercitationem suscipit debitis ipsa.
        </p>
      </li>

      <li class="card">
        <img src="dog5-ryan-walton.jpg" />
        <h3>Modi, exer citat ionem dicta.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, ea!
        </p>
      </li>
    </ul>
  </section>
</main>
